*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #222226;
    color: #eeeeee;
}
.poems
{
    margin: 10px;
}

.poems__poem
{
    border: 1px solid #444444;
    border-radius: 3px;
    margin: 0 0 20px 0;
}

.poem__title
{
    background-color: #444;
    padding: 10px;
}

.poem__content
{
    padding: 10px;
}

.poem__poet
{
    color: #999999;
    padding: 10px;
}

.linebreak
{
    display: block;
}